name: Release
# Adapted from https://github.com/beautiful-scala/scalastyle/blob/master/.github/workflows/release.yml

on:
  push:
    tags:
      - v*

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.2
      - name: Download and install SBT
        env:
          SBT_VERSION: 1.3.7
        run: |
          curl -L -o sbt-${SBT_VERSION}.deb https://dl.bintray.com/sbt/debian/sbt-${SBT_VERSION}.deb
          sudo dpkg -i sbt-${SBT_VERSION}.deb
      - name: Prepare PGP
        env:
          PGP_SECRET: ${{ secrets.PgpSecret }}
        run: |
          gpg --version
          mkdir ~/.gnupg && chmod 700 ~/.gnupg
          echo use-agent >> ~/.gnupg/gpg.conf
          echo pinentry-mode loopback >> ~/.gnupg/gpg.conf
          echo allow-loopback-pinentry >> ~/.gnupg/gpg-agent.conf
          chmod 600 ~/.gnupg/*
          echo RELOADAGENT | gpg-connect-agent
          echo $PGP_SECRET | base64 --decode | gpg --import --no-tty --batch --yes
      - name: Publish to Maven Central
        env:
          SONATYPE_USERNAME: ${{ secrets.SonatypeUsername }}
          SONATYPE_PASSWORD: ${{ secrets.SonatypePassword }}
          PGP_PASSPHRASE: ${{ secrets.PgpPassphrase }}
        run: sbt releaseArtifacts
